.container
  p
    a(href='https://github.com/Armax/Pokemon-GO-node-api') PGO api4node
    = ' | '
    a(href='https://twitter.com/arkdelkaos') @arkdelkaos
    = ' | '
    a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Angular Fullstack v3.7.6
